<div>
    <aside class="main-sidebar">
        <form class="form-horizontal common-form">
            <table class="table">
                <tr>
                    <th>One</th>
                    <td>two</td>
                </tr>
                <tr>
                    <td>three</td>
                    <td>four</td>
                </tr>
            </table>

            <section>
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <input type="file" [formControl]="fileNameCtrl" class="form-control btn-lg" id="customFile" (change)="handleFileInput($event)"/>
                        <button class="form-control  btn-lg" aria-disabled="false" (click)="uploadFile()">Upload</button>
                    </nav>
                </div>        
            </section>
        </form>
        <div class="container" id="div-file">
            {{isDatasource}} ==== {{datasource}}
    
            <div *ngIf="isDatasource">
                <div>
                    <div class="row">
                        <div class="d-grid">
                            <button type="button" class="btn-link" (click)="isCollapsed=!isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                                {{datasource}}
                            </button>
    
                        </div>
                    </div>
                    <div [collapse]="isCollapsed" [isAnimated]="true">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-secondary" (click)="getMissingValues()">Missing</button>
                                        </div>                                    
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <div class="btn-group" dropdown>
                                                <button id="button-basic" 
                                                    dropdownToggle type="button" 
                                                    class="btn btn-outline-secondary dropdown-toggle"
                                                    aria-controls="dropdown-basic"> 
                                                    Unique
                                                </button>
                                                  
                                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                                    <li role="menuitem" *ngFor="let item of datasourceColumnNames; ">
                                                        <button class="dropdown-item button-basic" (click)="getUniqueValues(item)">{{item}}</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>                                    
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-secondary" (click)="getStats()">Stats</button>
                                        </div>                                    
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <div class="d-grid gap-1">
                                                <div class="btn-group" dropdown>
                                                    <button id="button-basic" 
                                                        dropdownToggle type="button" 
                                                        class="btn btn-outline-secondary dropdown-toggle"
                                                        aria-controls="dropdown-basic"> 
                                                        Outlier
                                                    </button>
                                                      
                                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                                        <li>
                                                            <button class="dropdown-item button-basic" (click)="plotChart(1)">Box plot</button>
                                                        </li>
                                                        <li>
                                                            <button class="dropdown-item button-basic" (click)="plotChart(2)">Histogram</button>
                                                        </li>
                                                        <li>
                                                            <button class="dropdown-item button-basic" (click)="outlierCount()">Inter Quartile Range</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>    

                                        </div>                                    
                                    </div>
        
                                </div>
                                <div class="row">
                                    <div class="col-12"><div></div></div>
                                </div>
                                <div class="row">
                                    <div class="col-6 d-grid gap-1">
                                        <!-- <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#regressioModal">Regression</button> -->
                                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#regressioModal" (click)="openModal(regressionTemplate, 1)">
                                            Regression
                                        </button>
                                    </div>
                                    <div class="col-6  d-grid gap-2">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#regressioModal" (click)="openModal(regressionTemplate, 2)">
                                            Classification
                                        </button>
                                    </div>       
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </aside>

    <div class="content-wrapper" id="maindiv">
    </div>

    <ng-template #regressionTemplate>
        <div class="modal-header">
           <h4 class="modal-title pull-left">Modal</h4>
           <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">×</span>
           </button>
        </div>
        <div class="modal-body">
            <div class="content">
                <div class="row">
                    <div class="col-4">
                        <label>Algorithm</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select" aria-label="">
                            <option selected></option>
                            <option *ngFor="let item of modalAlgorithmList" [value]="item.value">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label>Class Attribute</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select" aria-label="">
                            <option *ngFor="let column of datasourceColumnNames" [value]="column">{{column}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide();performRegression()">Run</button>
           <button type="button" class="btn btn-outline-secondary" (click)="modalRef.hide()">Close</button>
        </div>
     </ng-template>


</div>
