/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap-grid.min.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.min.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css');
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
.tblHeadRow {
    font-weight: bold;
}


.main-canvas {
    height: 100vh;
}


.main-canvas1 ng-scrollbar {
    height: calc(100vh - 72px);
  }
  
    .main-canvas1 ng-scrollbar ng-scrollbar-y {
      position: absolute;
      right: -8px;
    }
  
    .main-canvas1 ng-scrollbar .ng-scroll-view {
      height: 100% !important;
    }
  


.main-custom-menu ng-scrollbar {
    height: calc(100vh - 72px);
}

.sidebar-main-menu ng-scrollbar ng-scrollbar-y {
    position: absolute;
    right: -8px;
}

.sidebar-main-menu ng-scrollbar .ng-scroll-view {
    height: 100% !important;
}

ng-scrollbar-y .ng-scrollbar {
width: 3px !important;
}

/***********************************************************************/

.main-sidebar {
    width: 500px;
    background-color: #f1ebeb;
    /* box-shadow: 2px 0 5px 0 rgba(0,0,0,.1); */
    top: 80px;
    left: 0px;
    padding-bottom: 72px;
    min-height: 100%;
    z-index: 810;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: all 0.5s;
}

.main-canvas-1{
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 500px;
    background-color: #c7c5c5;
    position: fixed;
}

.main-canvas{
    width: 100%;
    top: 0px;
    height: 100vh;
    left: 2px;
    background-color: #fad6d6;
    position: fixed;
}


body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
  }

.content-wrapper {
    padding-top: 0;
    top: 0px;
    height: 100vh;
    width: 100vw;
    min-height: inherit !important;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-left: 0px;
    left: 500px;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out, margin .3s ease-in-out;
    padding: 25px;
    padding-bottom: 10px;
    position: fixed;
}
  
.seperatorClass {
    height: 20px;
    width: 100%;
    background-color: rgb(199, 198, 198);
}